*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../img/nicolas.jpg);
    background-repeat: repeat;
    background-size: 7rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
}

.cuadroInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
}

.letras input {
    border: 0.15rem solid;
    border-radius: 5px;
    height: 2rem;
    width: 2rem;
    font-size: 1.7rem;
    text-align: center;
}

.intentos {
    display: flex;
    flex-direction: row;
    column-gap: 0.3rem;
}

button {
    background-color: aquamarine;
    border: 0.15rem solid black;
    border-radius: 5px;
    color: black;
    padding: 0.25rem 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7rem;
    font-weight: bold;
}

#publicidad1{
    display: none;
}

.publicidad {
    background-color: red;
    width: 75%;
    text-align: center;
}

@media (min-width: 321px) and (max-width: 375px) {
    .letras input {
        border: 0.15rem solid;
        height: 2.5rem;
        width: 2.5rem;
        font-size: 2rem;
    }

    button {
        padding: 0.25rem 0.5rem;
        font-size: 0.9rem;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .letras input {
        border: 0.15rem solid;
        height: 3rem;
        width: 3rem;
        font-size: 2.7rem;
    }

    button {
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
    }
}

@media (min-width: 426px) and (max-width: 768px) {

    main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 2.5rem;
    }

    .letras input {
        border: 0.15rem solid;
        height: 3rem;
        width: 3rem;
        font-size: 2.5rem;
    }

    button {
        padding: 0.34rem 0.75rem;
        font-size: 0.8rem;
    }

    #publicidad1{
        display: inline-block;
    }

}

@media (min-width: 769px) {

    main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 8rem;
        margin-top: 4rem;
    }

    .letras input {
        border: 0.15rem solid;
        height: 5rem;
        width: 5rem;
        font-size: 4rem;
    }

    button {
        padding: 0.34rem 0.75rem;
        font-size: 1rem;
        margin-top: 1rem;
    }

    #publicidad1{
        display: inline-block;
    }

}