body {
    background-image: url(../img/nicolas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.letras input {
    border: 0.20rem solid;
    border-radius: 5px;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 5rem;
    text-align: center;
}

main {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.intentos {
    display: flex;
    flex-direction: row;
    column-gap: 0.3rem;
}

button {
    background-color: grey;
    border: 0.15rem solid black;
    border-radius: 5px;
    color: black;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem 1rem;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5),0 17px 50px 0 rgba(0, 0, 0, 0.5);
  }